* {
    margin: 0;
    padding: 0; 
}
#layout {
    background-color: #EFEEF0;
    height: 300px;
    margin: 0 auto; 
    border: 1px solid;
}
h1 {
    font-weight: bolder;
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 20px;
}

nav {
    padding-left: 20px;
    padding-bottom: 10px;
}
nav > a {
    color: #4531E4;
    font-weight: bold;
}
#container {
    
}
#container > article {
    border: 1.5px solid;
    padding-left: 30px;
}
#container > article > label {
    padding-top: 30px;
    font-weight: bold;
}
#container > article > p {
    color: gray;
    font-size: small;
    padding-top: 10px;
    margin-bottom: 10px;
}

#container > aside {
    border: 1.5px solid;
}
#container > aside > label {
    color: gray;
    font-size: small;
    padding-top: 15px;
}

footer {
    color: gray;
    font-size: small;
    padding-left: 20px;
    padding-top: 7px;

}




